@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

body {
    margin: 0;
    font-family: 'Geist', sans-serif;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #070707;
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

div .bunchofbuttons {
    margin-bottom: 20px;
}

/* ----------------------------- */
/* Parallax */
/* ----------------------------- */

.parallax{
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.parallax.pg0 {
    background-image: url("gnx.png");
}

.parallax.pg1 {
    background-image: url("https://i.scdn.co/image/ab67616d0000b2737587213b1be294ac4000f648");
}

.parallax.pg2 {
    background-image: url("https://media.pitchfork.com/photos/6635224f5a584b33821e9d75/1:1/w_450%2Cc_limit/File.jpg");
}

.parallax.pg3 {
    background-image: url("https://upload.wikimedia.org/wikipedia/en/e/e5/Kendrick_Lamar_-_Meet_the_Grahams.jpg");
}

.parallax.pg4 {
    background-image: url("https://i.scdn.co/image/ab67616d00001e021ea0c62b2339cbf493a999ad");
}

/* ----------------------------- */
/* Headers, paragraphs */
/* ----------------------------- */

h1 {
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 80px;
    letter-spacing: 10px;
}

h2 {
    color: white;
    letter-spacing: 5px;
    margin-top: 50px;
}

.subtitle-lyric1 {
    color: rgb(238, 212, 17);
    font-weight: bold;
    margin-bottom: 20px;
}

.subtitle-lyric2 {
    color: rgb(37, 17, 216);
    font-weight: bold;
    margin-bottom: 20px;
}

.subtitle-lyric3 {
    color: rgb(231, 34, 37);
    font-weight: bold;
    margin-bottom: 20px;
}

.subtitle-lyric4 {
    color: rgb(29, 240, 188);
    font-weight: bold;
    margin-bottom: 20px;
}

p {
    color: white;
}

/* ----------------------------- */
/* Table */
/* ----------------------------- */

table {
    color: white;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid white;
    padding: 8px;
    text-align: center;
}

th {
    color: black;
    background-color: aliceblue;
}

/* ----------------------------- */
/* List/timeline */
/* ----------------------------- */

ol {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

ol > li {
    margin-bottom: 60px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

ol .artist {
    width: 110px;
    margin-top: 20px;
}

.list-content{
    width: 75%;
    float: left;
    border-left: 3px white solid;
    padding-left: 30px;
    display: flex;
    position: relative;
    align-items: center;
}

.list-content:before {
    content: '';
    width: 12px;
    height: 12px;
    background: whitesmoke;
    position: absolute;
    left: -8px;
    top: 24px;
    border-radius: 100%;
}

/* ----------------------------- */
/* Buttons */
/* ----------------------------- */

button {
    justify-content: center;
    text-align: right;
    font-weight: bold;
    color: white;
    font-size: 20px;
    background-color: transparent;
    border: none;
    padding: 15px 35px;
    position: relative;
    letter-spacing: 5px;
}

button::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
}

button:hover::after {
    width: 100%; 
}

.back-btn {
    font-size: 15px;
}