@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    margin: 0;
    font-family: 'Inter', serif;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #121214;
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

.parallax{
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.parallax.pg0 {
    background-image: url("gnx.png");
}

.parallax.pg1 {
    background-image: url("https://i.scdn.co/image/ab67616d0000b2737587213b1be294ac4000f648");
}

.parallax.pg2 {
    background-image: url("https://media.pitchfork.com/photos/6635224f5a584b33821e9d75/1:1/w_450%2Cc_limit/File.jpg");
}

.parallax.pg3 {
    background-image: url("https://upload.wikimedia.org/wikipedia/en/e/e5/Kendrick_Lamar_-_Meet_the_Grahams.jpg");
}

.parallax.pg4 {
    background-image: url("https://i.scdn.co/image/ab67616d00001e021ea0c62b2339cbf493a999ad");
}

h1 {
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 80px;
    letter-spacing: 10px;
}

h2 {
    color: white;
    letter-spacing: 5px;;
}

p {
    color: white;
}

table {
    color: white;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid white;
    padding: 8px;
    text-align: center;
}

th {
    color: black;
    background-color: aliceblue;
}

ul {
    color: white;
}

button {
    justify-content: center;
    text-align: left;
    color: white;
    font-size: 20px;
    background-color: transparent;
    border: none;
    padding: 15px 35px;
    position: relative;
    letter-spacing: 2px;
}

button::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
}

button:hover::after {
    width: 100%; 
}

.back-btn {
    font-size: 15px;
}